<%- include("header")-%>
<div class="home">
  <div class="head">
    <h1><%=name%> Secrets</h1>
    <div class="nav">
      <a href=<%="/"+name+"/newsecret"%>>Add secret</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
  <div class="secrets">
    <% secrets.forEach(s=>{%>
      <div class="post" style="background:<%=s.color%>;">
     <p ><%=s.secret%></p>
      </div>
  
   <% })%>
  </div>
</div>
<%- include("footer")-%>
